MitchellClaimWSClient/Service References/MitchellClaimServiceLibReference/MitchellClaimWSLib.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MitchellClaimWSLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MitchellClaimWSLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:complexType name="MitchellClaimType">
    <xs:sequence>
      <xs:element minOccurs="0" name="assignedAdjusterIDField" type="xs:long" />
      <xs:element minOccurs="0" name="assignedAdjusterIDFieldSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" name="claimNumberField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="claimantFirstNameField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="claimantLastNameField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lossDateField" type="xs:dateTime" />
      <xs:element minOccurs="0" name="lossDateFieldSpecified" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="lossInfoField" nillable="true" type="q1:LossInfoType" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="statusField" type="q2:StatusCode" />
      <xs:element minOccurs="0" name="statusFieldSpecified" type="xs:boolean" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="vehiclesField" nillable="true" type="q3:ArrayOfVehicleInfoType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MitchellClaimType" nillable="true" type="tns:MitchellClaimType" />
  <xs:complexType name="ArrayOfMitchellClaimType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MitchellClaimType" nillable="true" type="tns:MitchellClaimType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMitchellClaimType" nillable="true" type="tns:ArrayOfMitchellClaimType" />
</xs:schema>