MitchellClaimWSClient/Service References/MitchellClaimServiceLibReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClaimService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MitchellClaimWSLib" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClaimService_CreateClaim_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateClaim" />
  </wsdl:message>
  <wsdl:message name="IClaimService_CreateClaim_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateClaimResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimService_GetClaimByClaimNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClaimByClaimNumber" />
  </wsdl:message>
  <wsdl:message name="IClaimService_GetClaimByClaimNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClaimByClaimNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimService_GetClaimsBetweenDates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClaimsBetweenDates" />
  </wsdl:message>
  <wsdl:message name="IClaimService_GetClaimsBetweenDates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClaimsBetweenDatesResponse" />
  </wsdl:message>
  <wsdl:portType name="IClaimService">
    <wsdl:operation name="CreateClaim">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimService/CreateClaim" message="tns:IClaimService_CreateClaim_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimService/CreateClaimResponse" message="tns:IClaimService_CreateClaim_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClaimByClaimNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimService/GetClaimByClaimNumber" message="tns:IClaimService_GetClaimByClaimNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimService/GetClaimByClaimNumberResponse" message="tns:IClaimService_GetClaimByClaimNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClaimsBetweenDates">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimService/GetClaimsBetweenDates" message="tns:IClaimService_GetClaimsBetweenDates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimService/GetClaimsBetweenDatesResponse" message="tns:IClaimService_GetClaimsBetweenDates_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClaimService" type="tns:IClaimService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateClaim">
      <soap:operation soapAction="http://tempuri.org/IClaimService/CreateClaim" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClaimByClaimNumber">
      <soap:operation soapAction="http://tempuri.org/IClaimService/GetClaimByClaimNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClaimsBetweenDates">
      <soap:operation soapAction="http://tempuri.org/IClaimService/GetClaimsBetweenDates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClaimService">
    <wsdl:port name="BasicHttpBinding_IClaimService" binding="tns:BasicHttpBinding_IClaimService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>